@keyframes TitleAnimation {
  0%{
    width: 0%
  }
  100%{
    width: 100%
  }
}

.sectionTitle{
  width: 100%;
}

.growingLine{
  border-bottom: 3px solid rgba(74, 222, 128, 0.709);
  border-radius: 5px;
  height: 0.3rem;
  background: linear-gradient(to right, var(--primary), #b0d3f5) ;
  animation: TitleAnimation 1s forwards;
}