@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.landing {
  background-image: url("../../public/landing.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -100px;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #26b259
} 

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #24a955
}

.landing-home{
  background-image: url("../../public/landing.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
}